h1 {
  color: white;
  text-shadow: 0px 1px 1px black;
  font-family: 'Knewave', cursive;
}

h2 {
  color: white;
  font-family: 'Permanent Marker', cursive;
}

p {
  font-family :'Permanent Marker', cursive;
}

h4 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX( -50% ) translateY( -50% );
  font-size: 60px;
  color: white;
  z-index: 1;
  width: 1000px;
}

section {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

/*navbar*/
#hoge {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.logo > img {
  height: 60px;
  width: 80px;
  border-radius: 50%;
  color: white;
  position: absolute;
  top: 3.5%;
  left: 50%;
  transform: translateX( -50% ) translateY( -50% );
  font-size: 60px;
  background: white;
  z-index: 1;
}

.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.nav-link h3{
  color: black;
  font-family: 'Permanent Marker', cursive;
}

.nav-item {
  align-items: center;
}
/*navbar*/


/*banner*/
.banner{
  background-image: url("../img/portfolio.jpg");
  height: 125vh;
  position: relative;
}

.box {
  position: absolute;
  top: 350px;
  padding-left: 30px;
}
/*banner*/


/*introduction*/
.introduction {
  background-image: url("../img/blackboard2.jpg");
  height: 500px;
}

.introduction h2 {
  font-size: 40px;
  text-shadow: 0px 1px 1px black;
  font-family: 'Permanent Marker', cursive;
  color: white;
}

#typed {
  font-size: 60px;
  text-shadow: 0px 1px 1px black;
  color: white;
  font-family: 'Permanent Marker', cursive;
}
/*introduction*/

/*card*/
.card {
  border: none;
  background-color: #47E4BB;
  background-color: white;
}

.card > img {
  height: 400px;
  width: 100%;
  object-fit: cover;
}
/*card (end)*/

/*bentomo*/


#hoge {
  width:1440px;
  height:500px;
  margin:0 auto;
  background-color:#000;
}

.bentomo {
  margin: 0px 0px;
  height: 1000px;
  /*background-color: #47E4BB;*/
  background-image: url("../img/blackboard2.jpg");
  background-size: 1440px;
}
/*bentomo*/

/*golfriend*/
.golfriend {
  margin: 0px 0px;
  height: 1000px;
  /*background-color: #D1EECC;*/
  background-image: url("../img/blackboard2.jpg");
  background-size: 1440px;
}

.golfriend-color {
  /*background-color: #D1EECC;*/
}
/*golfriend*/


/*footer*/
.footer {
  background: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: black;
  opacity: 0.5;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.fab {
  color: white;
}
.footer p {
  color:white;

}
/*footer*/


#hoge {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#square h4 {
  color: black;
}


