h1 {
  color: white;
  text-shadow: 0px 1px 1px black;
  font-family: 'Knewave', cursive;
}

h2 {
  color: white;
  font-family: 'Permanent Marker', cursive;
}

p {
  font-family :'Permanent Marker', cursive;
}

h4 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX( -50% ) translateY( -50% );
  font-size: 60px;
  color: white;
  z-index: 1;
  width: 1000px;
}

section {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}


/*navbar*/
.logo > img {
  height: 60px;
  width: 80px;
  border-radius: 50%;
  color: white;
  position: absolute;
  top: 3.5%;
  left: 50%;
  transform: translateX( -50% ) translateY( -50% );
  font-size: 60px;
  background: white;
  z-index: 2;
}

.bg-light {
  background-color: white !important;
}

#navbar {
  width: 1440px;
  position: fixed;
  z-index: 1;
}
/*navbar*/


/*banner*/
#banner {
  background-color:#000;
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
/*banner*/


/*introduction*/
.intro{
  background-image: url("../img/portfolio.jpg");
  height: 125vh;
  position: relative;
}

.box {
  position: absolute;
  top: 350px;
  padding-left: 30px;
}

#typed {
  font-size: 60px;
  text-shadow: 0px 1px 1px black;
  color: white;
  font-family: 'Permanent Marker', cursive;
}
/*introduction*/


/*projects*/
.card {
  border: none;
  background-color: #47E4BB;
  background-color: white;
}

.card > img {
  height: 400px;
  width: 100%;
  object-fit: cover;
}

.bentomo {
  margin: 0px 0px;
  height: 1000px;
  background-image: url("../img/blackboard2.jpg");
  background-size: 1440px;
}

.golfriend {
  margin: 0px 0px;
  height: 1000px;
  /*background-color: #D1EECC;*/
  background-image: url("../img/blackboard2.jpg");
  background-size: 1440px;
}

img {
  height: 400px;
}

#wrap {
  position: relative;
  overflow: hidden;
  width: 800px;
  margin: 0 auto;
}

.slideConts {
  width: 500px;
  height: 400px;
  margin: 40px auto;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}

.slideContsL {
  /*background-color: lightpink;*/
  transform: translate(-1000px, 0);
}

.slideContsR {
  /*background-color: lightblue;*/
  transform: translate(1000px, 0);
}

.slideContsL.show {
  transform: translate(-110px, 0) !important;
}

.slideContsR.show {
  transform: translate(-110px, 0) !important;
}
/*projects*/


/*thx-message*/
#square h4 {
  color: black;
}
/*thx-message*/


/*footer*/
.footer {
  background: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: black;
  opacity: 0.5;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.fab {
  color: white;
}
.footer p {
  color:white;

}
/*footer*/
